<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
  />
    <title>StoryShop鞋電商</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="bg-img position-relative mb-5">
      <h1 class="d-flex position-absolute text-white flex-column fw-bolder">
        StoryShop
      </h1>
      <p class="text-white position-absolute">"Every Step, A New Story."</p>
      <button class="btn btn-primary-300 position-absolute fw-bolder">
        Take the Step
      </button>
    </div>
    <div class="container justify-content-center d-flex flex-column">
      <div class="text-center mb-7">
        <h2 class="mb-6">New Arrival</h2>
        <p class="fs-7 fw-bold">新品上市</p>
      </div>
      <div class="w-100 mb-10 ">
        <div class="row g-3">
          <div class="col-6">
            <img
              class="img-fluid w-100"
              src="/assets/images/product.png"
              alt=""
            />
            <div>
              <p class="fs-3">Nightwave</p>
              <div class="d-flex justify-content-between"><div><del class="text-muted fw-300">NT$4,800元 </del><p class=" fs-5 text-danger">NT$3,500元</p></div></div>
            </div>
          </div>
          <div class="col-6">
            <img
              class="img-fluid w-100"
              src="/assets/images/product-1.png"
              alt=""
            />
            <div>
              <p class="fs-3">Crimson Grove</p>
              <div class="d-flex justify-content-between"><div><del class="text-muted fw-300">NT$4,500元 </del><p class=" fs-5 text-danger">NT$3,500元</p></div></div>
            </div>
          </div>

          <div class="col-6">
            <img
              class="img-fluid w-100"
              src="/assets/images/product-2.png"
              alt=""
            /><div>
              <p class="fs-3">Mistglow</p>
              <div class="d-flex justify-content-between"><div><del class="text-muted fw-300">NT$4,600元 </del><p class=" fs-5 text-danger">NT$3,200元</p></div></div>
            </div>
          </div>
          <div class="col-6">
            <img
              class="img-fluid w-100"
              src="/assets/images/product-3.png"
              alt=""
            />
            <div>
              <p class="fs-3">Frost Lily</p>
              <div class="d-flex justify-content-between"><div><del class="text-muted fw-300">NT$4,700元 </del><p class=" fs-5 text-danger">NT$3,600元</p></div></div>
              
            </div>
            
          </div>
        </div>
      </div>
      
      <h2 class="mb-3">熱銷補貨</h2>
      <div class="row g-3 mb-10 ">
        <div class="col-3 position-relative">
  <p class="position-absolute top-0 start-0 m-2 px-2 py-1 text-white bg-danger fw-bold" >
    熱銷NO.1
  </p>

  <img
    class="img-fluid w-100"
    src="/assets/images/product-4.png"
    alt="Twilight Mist"
  />
  
  <div>
    <p class="fs-5 mt-2 fw-bolder bg-primary-100 text-center">Twilight Mist</p>
  </div>
</div><div class="col-3 position-relative">
  <p class="position-absolute top-0 start-0 m-2 px-2 py-1 text-white bg-primary-500 fw-bold" >
    限量商品
  </p>

  <img
    class="img-fluid w-100"
    src="/assets/images/product-7.png"
    alt="Twilight Mist"
  />
  
  <div>
    <p class="fs-5 mt-2 fw-bolder bg-primary-100 text-center">Mistglow</p>
  </div>
</div><div class="col-3 position-relative">
  <p class="position-absolute top-0 start-0 m-2 px-2 py-1 text-primary-500 bg-primary-100 fw-bold" >
   獨家販售
  </p>

  <img
    class="img-fluid w-100"
    src="/assets/images/product-5.png"
    alt="Twilight Mist"
  />
  
  <div>
    <p class="fs-5 mt-2 fw-bolder bg-primary-100 text-center">Crimson Grove</p>
  </div>
</div><div class="col-3 position-relative">
  <p class="position-absolute top-0 start-0 m-2 px-2 py-1 text-white bg-danger-200 fw-bold" >
    即將推出!
  </p>

  <img
    class="img-fluid w-100"
    src="/assets/images/product-6.png"
    alt="Twilight Mist"
  />
  
  <div>
    <p class="fs-5 mt-2 fw-bolder bg-primary-100 text-center">???</p>
  </div>
</div>
        
      </div>
      <h2>依系列選購</h2>











    </div> <!--container結尾-->

    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
